
<h1>Skate Park</h1>
<div class="py-4">
<h2>Lista de participantes</h2>
  <hr style="text-align: right; margin-right: 0px;">
<table class="table table-dark">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Foto</th>
    <th scope="col">Nombre</th>
    <th scope="col">Años de experiencia</th>
    <th scope="col">Especialidad</th>
    <th scope="col">Estado</th>
  </tr>
</thead>
<tbody>
  {{#each rows}}
  <tr>
    <th scope="row">🛹</th>
    <td><div style="background-image: url('/img/{{this.foto}}')"></div></td>
    <td>{{this.nombre}}</td>
    <td>{{this.anos_experiencia}}</td>
    <td>{{this.especialidad}}</td>
    {{#if this.estado}}
    <td class="text-success font-weight-bold">Aprobado</td>
    {{else}}
    <td class="text-warning font-weight-bold">En revisión</td>
    {{/if}}
  </tr>
  {{/each}}
</tbody>
</table>
<a href="/login">Iniciar Sesión</a> |
<a href="/registrarUser">Registrarme</a>
</div>

